//Wp Reading Time
.rt-reading-time {
  font-family: $font__header;
  font-weight: $font__weight-strong;
  padding: 0 0 1rem;
  @include font-size(0.8);
}

// Related Post
.entry-content .rp4wp-related-posts {
  background-color: $color__bg-dark;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  padding: 4rem;

  h3 {
    text-transform: uppercase;
    @include font-size(1);
    color: $color__text-block;
  }

  ul {
    margin: 3rem 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    li {
      list-style: none;
      width: 30%;
      margin-right: 5%;

      &:last-child {
        margin-right: 0;
      }

      .rp4wp-related-post-image {
        width: 100%;
        padding: 0;
        float: none;

        a {
          border-bottom: 0;
        }

        a img {
          width: 100%;
        }
      }
      .rp4wp-related-post-content {
        a {
          font-family: $font__italic;
          font-weight: $font__weight-headings;
          @include font-size(1.4);
          line-height: 1;
          color: $color__text-block;
          border: 0;
        }
      }

      @media screen and (max-width: $size__tablet) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }
}

// RGPD

$rgpd__height : 50px;

.gdpr.gdpr-privacy-bar,
.gdpr.gdpr-reconsent-bar {
  background: #F2F4F4;
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper {
  padding: 0;
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content p,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-content p,
.gdpr.gdpr-privacy-bar .gdpr-preferences,
.gdpr.gdpr-reconsent-bar .gdpr-preferences,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item label,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item .gdpr-policy-link,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item .gdpr-policy-link {
  font-family: $font__header !important;
  color: #4d4d4d;
  font-size: 1rem;

  & > a {
    text-decoration: underline;
  }
}
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item .gdpr-policy-link,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item .gdpr-policy-link {
  font-family: $font__header;
  text-decoration: underline;
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  min-height: 50px;
  flex-wrap: wrap;
  width: 100%;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    width: 100%;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 2rem;
    flex-wrap: nowrap;
    flex: 2;
    justify-content: flex-start;
  }
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right {
  width: 100%;
  background-color: #CCC;
  min-height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: stretch;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    width: 100%;
  }
  @media screen and (min-width: 1440px) {
    padding: 0;
    flex-wrap: nowrap;
    flex: 1
  }
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: center;
  width: auto;
  min-width: 300px;

  @media screen and (min-width: 1440px) {

  }

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    width: 100%;
  }
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item,
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-cookie-categories-item,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-cookie-categories .gdpr-policy-list-item,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-cookie-categories-item,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-policy-list .gdpr-policy-list-item {
  display: inline-block;
  margin: 0;
  padding-top: 0;
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-agreement,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-right .gdpr-buttons button.gdpr-agreement {
  margin: 0;
  width: 100%;
  align-self: center;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
}
.gdpr-buttons {
  display: flex;
  width: 100%;
}

.gdpr.gdpr-privacy-bar .gdpr-preferences::before,
.gdpr.gdpr-reconsent-bar .gdpr-preferences::before {
  content: '';
  color: $color__text-title;
}

.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-close,
.gdpr.gdpr-reconsent-bar .gdpr-wrapper .gdpr-close {
  display: none;
}

.gdpr.gdpr-privacy-bar .gdpr-agreement,
.gdpr.gdpr-reconsent-bar .gdpr-agreement {
  position: relative;
  font-size: inherit;
  font-weight: normal;
  height: $rgpd__height;
  line-height: 26px;
  white-space: normal;
  margin: 0;
  background: $color__main-dark;
  border-color: transparent;
  box-shadow: none;
  color: $color__bg-light;
  font-weight: $font__weight-strong;
  text-decoration: none;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  right: 0;
  padding: 0 2rem;
}

.gdpr.gdpr-privacy-bar .gdpr-agreement:hover,
.gdpr.gdpr-reconsent-bar .gdpr-agreement:hover {
  background: $color__main;
  border: 0;
  transform: none;
}