.srpw-block {

  .srpw-li {
    list-style: none;
    padding: 0 !important;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;

    &:last-child {
      padding: 0;
      border-bottom: 0;
    }

    a {
      border-bottom: 0;
    }
  }

  .srpw-comment:before, .srpw-author:before {
    content: none;
    padding: 0;
  }
}

// Números del 1 al 39

.panel-grid-cell h2,
.single-numero .entry-content h2,
.home .entry-content h2 {
  background-color: $color__main-dark;
  color: $color__bg-light;
  font-family: $font__header;
  font-weight: $font__weight-strong;
  @include font-size(0.8);
  text-transform: uppercase;
  padding: 2px 7px;
  line-height: 1.58;
}

.single-numero .entry-content > h2,
.home .entry-content > h2 {
  background-color: transparent;
  color: $color__text-block;
  border-bottom: 2px solid $color__main-dark;
  margin: 0 auto 1rem;
  padding: 0 0 2px 0;

  @media screen and (max-width: $size__tablet +150px) {
    margin: 0 2rem 1rem;
  }
}

.home .entry-content .wp-block-gallery,
.single-numero .entry-content .wp-block-gallery {
  margin-top: 0;
}

.panel-grid-cell h2 {
  margin: 0 1rem 1rem 0;
  display: inline-block;
}

.srpw-block {

  .srpw-title a {
    font-family: $font__italic;
    font-weight: $font__weight-headings;
    @include font-size(2);
    color: $color__text-title;
    border: 0;
  }

  .srpw-author {
    display: inline-block;
    font-family: $font__header;
    @include font-size(0.8);
    color: $color__text-block;
    border: 0;
    padding: 0;
  }
  .srpw-summary {

    & > * {
      display: inline;
    }
    .srpw-more-link {
      color: $color__text-block;
      font-family: $font__header;
      @include font-size(0.9);
      font-style: italic;
      margin-left: 0.5rem;
      border-bottom: 2px $color__main solid;
    }
  }

  .srpw-ul {
    display: flex;
    flex-wrap: wrap;

    .srpw-li {
      width: 49%;
      margin-bottom: 2rem !important;

      &:nth-child(even) {
        margin-left: 2%;
      }

      .srpw-summary {
        line-height: 1.2;

        & > p {
          @include font-size(0.85);
        }
      }
    }
  }
}
.block-three {
  .srpw-title a {
    @include font-size(1.6);
  }
}
.block-one .srpw-block .srpw-ul .srpw-li {
  width: 100%;
  margin-left: 0;

  .srpw-summary {
    & > p {
      @include font-size(1.2);
      line-height: 1.58;
    }
  }
}

.block-three .srpw-block .srpw-ul .srpw-li {
  width: 32%;
  margin-right: 2%;
  margin-left: 0;

  &:last-child {
    margin-right: 0;
    margin-left: 0;
  }

}

@media screen and (max-width: $size__tablet +150px) {
  .srpw-block .srpw-ul .srpw-li,
  .block-one .srpw-block .srpw-ul .srpw-li,
  .block-three .srpw-block .srpw-ul .srpw-li {
    width: 100%;
    margin-bottom: 2rem !important;

    &:last-child {
      margin-left: 0;
      margin-bottom: 0 !important;
    }
  }
}