
@font-face {
  font-family: 'Merriweather';
  src: url('scss/variables/fonts/merriweather-lightitalic-webfont.woff2') format('woff2'), url('scss/variables/fonts/merriweather-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('scss/variables/fonts/merriweather-regular-webfont.woff2') format('woff2'), url('scss/variables/fonts/merriweather-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('scss/variables/fonts/merriweather-italic-webfont.woff2') format('woff2'), url('scss/variables/fonts/merriweather-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('scss/variables/fonts/merriweather-bold-webfont.woff2') format('woff2'), url('scss/variables/fonts/merriweather-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('scss/variables/fonts/merriweather-bolditalic-webfont.woff2') format('woff2'), url('scss/variables/fonts/merriweather-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('scss/variables/fonts/opensans-regular-webfont.woff2') format('woff2'), url('scss/variables/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('scss/variables/fonts/opensans-italic-webfont.woff2') format('woff2'), url('scss/variables/fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('scss/variables/fonts/opensans-bold-webfont.woff2') format('woff2'), url('scss/variables/fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('scss/variables/fonts/opensans-bolditalic-webfont.woff2') format('woff2'), url('scss/variables/fonts/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}