h1, h2, h3, h4, h5, h6 {
	font-family: $font__header;
	clear: both;
	font-weight: $font__weight-headings;
}

h1 {
	@include font-size(2.4);
	line-height: 1.3;

	@media screen and (max-width: $size__tablet) {
		@include font-size(2);
	}
}

h2 {
	@include font-size(2.2);
	line-height: 1.2;
	margin-bottom: 2rem;

	@media screen and (max-width: $size__tablet) {
		@include font-size(2);
	}
}

h3 {
	@include font-size(1.75);
	line-height: 1.2;

	@media screen and (max-width: $size__tablet) {
		@include font-size(1.4);
	}
}

h4 {
	@include font-size(1.5);
	line-height: 1.2;

	@media screen and (max-width: $size__tablet) {
		@include font-size(1.2);
	}
}