.hero-home {
  width: 60%;
  text-align: center;

  h2 {
    @include font-size(1.2);
    margin: 1.5rem 0;

    @media screen and (max-width: $size__tablet) {
      @include font-size(1);
    }
  }
}

.entry-content .post-widget a {
  border-bottom: 0;
}

