@import "../../variables/variables";
@import "../../mixins/mixins";
$blocks-button__height: 56px;

.wp-block-button {
  color: $color__text-hl;
  margin-bottom: 1.5em;

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    /*rtl:ignore*/
    text-align: right;
  }
}

.wp-block-button__link {
  background-color: $color__main;
  border: none;
  border-radius: $blocks-button__height / 1.5;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  @include font-size(1.25);
  font-family: $font__header;
  margin: 0;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: break-word;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

.is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.is-style-outline {
  color: $color__border-button;

  .wp-block-button__link {
    background: transparent;
    border: 2px solid currentcolor;
  }
}