$hero-height: 420px;

.site-header {
  height: $hero-height;
  width: $size__site-main;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

.home .site-header {
  //height: $hero-height - 200px;
}

.top-bar {
  width: $size__site-main;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.site-title {
  display: flex;
  align-items: center;
  width: auto;

  img {
    width: 310px;
    height: 60px;
  }
}

.hero {
  color: $color__bg-light;
  width: $size__box;
  height: $hero-height - 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem 3rem 3rem;
  margin: 0 auto;

  .meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-family: $font__header;
    padding: 1rem 0;
    @include font-size(0.8);

    @media screen and (max-width: $size__tablet) {

      date {
        width: 100%;
        display: block;
        margin-top: 1rem;
      }

    }
  }

  h1 {
    font-family: $font__italic ;
    @include font-size(3);
  }

  .excerpt {
    font-family: $font__header;
    color: $color__bg-lg;
    font-weight: $font__weight-body;
    @include font-size(1.1);
    margin: 0;
    padding: 0 0 1rem;
    max-width: 620px;
  }

  @media screen and (max-width: $size__box) {
    padding: 1rem 2rem 3rem;
  }
  @media screen and (max-width: $size__tablet) {
    h1 {
      @include font-size(2);
    }

    .excerpt {
      padding: 0.5rem 0;
      display: none;
    }
  }
}

.tag {
  background-color: $color__main-dark ;
  color: $color__bg-light;
  font-family: $font__header;
  font-weight: $font__weight-strong;
  @include font-size(0.8);
  text-transform: uppercase;
  padding: 2px 7px;
  margin: 0 1rem 0 0;

}