.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-categories {
	margin: 0;
}

.the-date {
	color: $color__text-body;
	font-weight: 500;
}

.entry-header,
.page-header,
#comments {
	margin: 2rem auto;
	max-width: $size__tablet;
}

.search-page,
.entry-content {

	margin: 1.2rem auto 0;

	& > p:first-of-type {
		&::first-letter {
			@include font-size(6);
			font-weight: $font__weight-strong;
			float: left;
			padding: 0;
			line-height: 0;
			margin: 46px 20px 24px -5px;
		}
	}

	& > *,
	& > .gform_wrapper,
	& > .wp-block-gallery,
	& > .wp-block-quote {
		margin: 2rem auto;
		max-width: $size__tablet;
		line-height: 1.8;
	}
	& > .alignwide {
		max-width: $size__tablet + 150px;
	}
	& > .alignfull {
		max-width: 100%;
	}
	& > .wp-block-webfactory-map {
		margin: 0;
		max-width: 100%;
	}

	& > ul > li,
	& > ol > li {
		margin: 0 0 0 4rem;
	}

	a,
	ul li a,
	p a,
	table a {
		color: $color__text-body;
		font-weight: $font__weight-body;
		border-bottom: 2px solid $color__link-hl;
	}

	figure a {
		border-bottom: 0;
	}

	@media screen and (max-width: $size__tablet) {

		margin: 0;

		& > *:not(.search-form) {
			max-width: 100%;
			padding: 0 2rem;
		}

	}

}
/* Anchura home y números */
.single-numero .entry-content,
.home .entry-content {

	& > p:first-of-type {
		&::first-letter {
			@include font-size(1);
			font-weight: $font__weight-body;
			float: none;
			padding: 0;
			line-height: 0;
			margin: 0;
		}
	}

	& > *,
	& > .gform_wrapper,
	& > .wp-block-gallery,
	& > .wp-block-quote {
		margin: 2rem auto;
		max-width: $size__tablet +150px;
		line-height: 1.8;

		@media screen and (max-width: $size__tablet +150px) {
			padding: 0 2rem;
		}
	}

	& > .alignwide {
		max-width: $size__tablet + 300px;
	}

}
/* Home */
.lista-icono {
	margin-bottom: 2rem;

	.lista-icono-titulo {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 0.5rem;

		& > * {
			width: auto;
			margin-right: 10px;
		}

		& + p {
			margin-left: 36px;
		}
	}
}

/* Columnas */
@media screen and (min-width: 782px) {
	.wp-block-column:not(:last-child) {
		padding-right: 3rem;
	}
}

/* Galerías */
.wp-block-gallery {
	margin: 0;
}