.wrapper {
  max-width: $size__box;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 2;

  @media screen and (max-width: $size__box) {
    margin: 0 1rem;
  }

  @media screen and (max-width: $size__tablet) {

  }
}
